body{
	
	padding:0;
	margin:0;
	font-size:12px;
	
}	

div.bodyAnime{
	
	background: url("../image/anime.jpg") no-repeat center fixed;
	margin:0;
	padding: 0;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	border-radius: 0px;

}


div.bodyFilm{
	
	background: url("../image/film.jpg") no-repeat center fixed;
	margin:0;
	padding: 0;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	border-radius: 0px;
}

div.bodyManga{
	
	background: url("../image/fondmanga.png") no-repeat center fixed;
	margin:0;
	padding: 0;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	border-radius: 0px;
}

div.bodySerie{
	
	background: url("../image/serie.jpg") no-repeat center fixed;
	margin:0;
	padding: 0;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	border-radius: 0px;
}

div.bodySpectacle{
	
	background: url("../image/spectacle.jpg") no-repeat center fixed;
	margin:0;
	padding: 0;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	border-radius: 0px;
}

div.bodyStandard{
	
	background: url("../image/fond.jpg") no-repeat center fixed;
	margin:0;
	padding: 0;
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
	border-radius: 0px;
}


#test{
	color:#ABC8E2;
}

section {
	
	margin-left: 50px;
	margin-right: 50px;
	opacity: 1;
	border-width: 5px;
	font-size: 12px;
	margin-top: 20px;
	color: white;
	margin-bottom:30px;
}

section div#slider{

    	margin: auto;
    	padding: 0;
	position : relative;

	
}

/* Menu */

ul {
	background-color: #333;
    	list-style-type: none;
    	margin: 0;
    	padding: 0;
    	overflow: hidden;
	border: 1px solid white;
}

li a {
    
	display: block;
    	color: white;
    	text-align: center;
    	padding: 14px 16px;
    	text-decoration: none;
	
}

/* sous Menu */

#menu-deroulant, #menu-deroulant ul {

    padding: 0;
    margin: 0;
    list-style: none;
}
#menu-deroulant {

/* on centre le menu dans la page */
    text-align: center; 
}
#menu-deroulant li {

/* on place les liens du menu horizontalement */
    display: inline-block;
}
#menu-deroulant ul li {

/* on enlève ce comportement pour les liens du sous menu */
    display: inherit;
}
#menu-deroulant a {

    text-decoration: none;
    display: block;
}
#menu-deroulant ul {

    position: absolute;
/* on cache les sous menus complètement sur la gauche */
    left: -999em;
    text-align: left;
    z-index: 1000;
}
#menu-deroulant li:hover ul {

/* Au survol des li du menu on replace les sous menus */
    left: auto;
}

#footer{

	background-color: #333;
	color: white;
	position: relative;
	bottom: 0;
	height: 10px;
	text-align : center;
	border: 1px solid white;
	width: 100%;
	
	margin-bottom:1px;
	}

/* Carousel */

div#slider figure img { 

	width: 20%; 
	height: auto; 
	float: left;
}

div#slider {
 
	width: 80%;
	max-width: 900px; 
	overflow: hidden; 
}

@keyframes slidy {

	0% { left: 0%; }
	20% { left: 0%; }
	25% { left: -100%; }
	45% { left: -100%; }
	50% { left: -200%; }
	70% { left: -200%; }
	75% { left: -300%; }
	95% { left: -300%; }
	100% { left: -400%; }
}

div#slider figure {

	position: relative;
	width: 500%;
	margin: 0;
	padding: 0;
	font-size: 0;
	left: 0;
	text-align: left;
	animation: 30s slidy infinite;
}

/* text transparent */

div.transbox {
 
  	min-height: 700px; /* Taille Minimun de la zone de texte */ /* le pourcentage ne marche pas sur firefox */
  	margin: 3px;
  	background-color: #ffffff;
  	border: 1px solid;
  	opacity: 0.9;
  	filter: alpha(opacity=60); /* For IE8 and earlier */
	
  
}

div.transbox p {

  	margin: 5%;
  	font-weight: bold;
  	color: #000000;

}

/* Menu saisie */

input[type=text], select, textarea {

   	 width: 90%;
    	padding: 12px 20px;
    	margin: 8px 0;
    	display: inline-block;
    	border: 1px solid #ccc;
    	border-radius: 4px;
    	box-sizing: border-box;
}

input[type=submit] {

    width: 90%;
    background-color: #333;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

div {

    border-radius: 5px;
    background-color: transparent;
    padding: 20px;
    color: black;
    text-align: center;
	
}

/* Bouton de Modification d'anime */

#Modifier, #Annuler{

	border-radius: 2px;
	background-color: #333;
	padding: 20px;
	color: white;
	width: 40%;
	border-radius : 5px 5px 5px 5px;
	
}

table#dernier{

	border-collapse: collapse;
	width: 100%;
	font-size:12px;
}

th{
	text-align: left;
	padding: 8px;
	font-size:12px;
}

tr:nth-child(even){background-color: #f2f2f2}

/* Le bouton retour en haut */

#le_bouton {
	
	height: 130px;
	position: fixed;
	bottom: 0px;
	right: 210px;
	
}

/* Pagination */ 

.pagination a {
	color: black;
	float: center;
	
	padding: 8px 16px;
	text-decoration: none;
	transition: background-color .3s;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

/* Responsive design */

@media screen and (max-width: 1000px) {

section{
    	margin-left: 10px;
	margin-right: 10px;
}
	
table#dernier{
	
	border-collapse: collapse;
	margin-left: 10px;
	margin-right: 10px;
}

th{
	text-align: left;
}

tr:nth-child(even){
	background-color: #f2f2f2;
}

textarea{
	width: 70%;
}
